@model IEnumerable<TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "CreatedTasksAssigned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .disabled {
        color: gray;
        pointer-events: none;
    }
</style>

<h1 style="text-align:center">CreatedTasksAssigned</h1>
<hr />
<div class="row">
    <div class="col-sm">
        <h3>Assigned</h3>
    </div>
    <div class="col-sm">
        <p style="text-align:right">
            <a asp-action="Create" class="@(ViewBag.CanCreate ? "enabled" : "disabled")">Create New</a>
        </p>
    </div>
</div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDetails)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.CreatedById == ViewBag.EmployeeId && x.IsActive == false && x.EndDate >= DateTime.Now.Date))
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByString)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)

                <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.AssignedToString)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TaskDetails)
                </td>
                <td>

                        @Html.ActionLink("Edit", "Edit", new {  id=item.IdTask  },new { @class = ViewBag.CanEdit ? "enabled" : "disabled" }) |
                        @Html.ActionLink("Details", "Details", new { id=item.IdTask }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.IdTask } ,new { @class = ViewBag.CanDelete ? "enabled" : "disabled" })

                </td>
            </tr>
        }
    </tbody>
</table>
