@model IEnumerable<TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .disabled {
        color: gray;
        pointer-events: none;
    }
</style>



<h1>Tasks</h1>

<p>
    <a asp-action="Create" class="@(ViewBag.CanEdit ? "enabled" : "disabled")">Create New</a>

</p>

<h2>Assigned to me</h2>
<br />

<h3>To Accomplish</h3>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDetails)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.AssignedToId == ViewBag.EmployeeId && x.FinishedDate == null))
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByString)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)

                <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.AssignedToString)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TaskDetails)
                </td>
                <td>

                        @Html.ActionLink("Details", "Details", new { id=item.IdTask }) |
                        @Html.ActionLink("Finish", "Finish", new { id=item.IdTask })


                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<h3>Finished</h3>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDetails)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.AssignedToId == ViewBag.EmployeeId && x.FinishedDate != null))
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByString)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)

                <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.AssignedToString)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TaskDetails)
                </td>
                <td>

                        @Html.ActionLink("Details", "Details", new { id=item.IdTask })


                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h3>Missed</h3>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolutionDetails)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.AssignedToId == ViewBag.EmployeeId && x.FinishedDate == null && x.EndDate <= DateTime.Now.Date))
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByString)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)

                <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.AssignedToString)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.SolutionDetails)
                </td>
                <td>

                        @Html.ActionLink("Details", "Details", new { id=item.IdTask })


                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<h2>Created by me</h2>
<br />

<h3>Assigned</h3>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDetails)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.CreatedById == ViewBag.EmployeeId && x.IsActive == false))
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByString)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)

                <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.AssignedToString)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TaskDetails)
                </td>
                <td>

                        @Html.ActionLink("Edit", "Edit", new {  id=item.IdTask  },new { @class = ViewBag.CanEdit ? "enabled" : "disabled" }) |
                        @Html.ActionLink("Details", "Details", new { id=item.IdTask }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.IdTask } ,new { @class = ViewBag.CanDelete ? "enabled" : "disabled" })



                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<h3>In progress</h3>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDetails)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.CreatedById == ViewBag.EmployeeId && x.IsActive == true))
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByString)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)

                <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.AssignedToString)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TaskDetails)
                </td>
                <td>

                        @Html.ActionLink("Edit", "Edit", new {  id=item.IdTask  },new { @class = ViewBag.CanEdit ? "enabled" : "disabled" }) |
                        @Html.ActionLink("Details", "Details", new { id=item.IdTask })



                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<h3>Finished</h3>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolutionDetails)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.CreatedById == ViewBag.EmployeeId && x.FinishedDate != null))
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByString)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)

                <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.AssignedToString)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.SolutionDetails)
                </td>
                <td>

                        @Html.ActionLink("Details", "Details", new { id=item.IdTask })


                </td>
            </tr>
        }
    </tbody>
</table>
<br/>
<h3>Missed</h3>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolutionDetails)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.CreatedById == ViewBag.EmployeeId && x.FinishedDate == null && x.EndDate <= DateTime.Now.Date))
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdTask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByString)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)

                <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.AssignedToString)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.SolutionDetails)
                </td>
                <td>

                        @Html.ActionLink("Details", "Details", new { id=item.IdTask })



                </td>
            </tr>
        }
    </tbody>
</table>
