@model IEnumerable<TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasAttachments)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTask)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CreatedByString)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            
                <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
               
                <td>
                @Html.DisplayFor(modelItem => item.AssignedToString)
            </td>
               
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasAttachments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdTask  }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdTask }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdTask })
            </td>
        </tr>
}
    </tbody>
</table>
