@model IEnumerable<TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "MyTasksFinished";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .disabled {
        color: gray;
        pointer-events: none;
    }
</style>

<h1 style="text-align:center">MyTasksFinished</h1><hr >


<h3>Finished</h3>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDetails)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.AssignedToId == ViewBag.EmployeeId && x.FinishedDate != null))
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.IdTask)
                </td>
                <th>
                    @Html.DisplayFor(model => item.TaskName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByString)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)

                <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.AssignedToString)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TaskDetails)
                </td>
                <td>

                        @Html.ActionLink("Details", "Details", new { id=item.IdTask })


                </td>
            </tr>
        }
    </tbody>
</table>
<br />
