@model TaskManager.Models.TaskModel;

@{
    ViewData["Title"] = "TaskCreate";


    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>TaskCreate</h1>

<h4>TaskModel</h4>
<hr />
@if (ViewData.ModelState.Values.Any(x => x.Errors.Count >= 1))
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EditableStartDate" /> @Html.DisplayNameFor(model => model.EditableStartDate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EditableEndDate" /> @Html.DisplayNameFor(model => model.EditableEndDate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TaskDetails" class="control-label"></label>
                <input asp-for="TaskDetails" class="form-control" />
                <span asp-validation-for="TaskDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedToString" class="control-label"></label>
                @*<input asp-for="AssignedToId" class="form-control" />*@
                <br />
               @* @{
                    bool? isEnabled = ViewBag.CanAssign as bool?;

                }*@
                @Html.DropDownList("UsersList")
                @*@Html.DropDownList("UsersList", (IEnumerable<SelectListItem>)ViewBag.UsersList, new { disabled = isEnabled.HasValue && isEnabled.Value ? null : "disabled" })*@

                <span asp-validation-for="AssignedToString" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAttachments" /> @Html.DisplayNameFor(model => model.HasAttachments)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
