@model TaskManager.Models.TaskModel

@{
    ViewData["Title"] = "TaskEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function setSelectedOption() {
        var selectedEmployeeIndex = '@ViewBag.SelectedEmployeeIndex'; // this value can come from server or somewhere else
        var ddlUsersList = document.getElementById("ddlUsersList");
        ddlUsersList.options[selectedEmployeeIndex].selected = true;
    }
    window.onload = setSelectedOption;


    function displayFiles() {
        var checkboxHasAttachments = document.getElementById("HasAttachments");
        var input = document.getElementById("files");
        var ul = document.getElementById("fileList");
        while (ul.hasChildNodes()) {
            ul.removeChild(ul.firstChild);
        }
        for (var i = 0; i < input.files.length; i++) {
            var li = document.createElement("li");
            li.innerHTML = input.files[i].name;
            ul.appendChild(li);
        }
        checkboxHasAttachments.checked = true;

        if (!ul.hasChildNodes()) {
            var li = document.createElement("li");
            li.innerHTML = 'No Files Selected';
            ul.appendChild(li);
            checkboxHasAttachments.checked = false;

        }

    }

    function clearFiles() {
        var input = document.getElementById("files");
        input.value = "";
        displayFiles();
    }
</script>

@if (ViewData.ModelState.Values.Any(x => x.Errors.Count >= 1))
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}

<h1 style="text-align:center">TaskEdit</h1><hr >

<h4>TaskModel</h4>
<hr />



<div class="row">



    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTask" class="control-label" hidden></label>
                <input asp-for="IdTask" class="form-control" hidden />
                <span asp-validation-for="IdTask" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" id="StartDate" class="form-control" disabled="@(Model.EditableStartDate ? null : "disabled")" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input class="form-check-input" id="EditableStartDate" asp-for="EditableStartDate" /> @Html.DisplayNameFor(model => model.EditableStartDate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" disabled="@(Model.EditableEndDate ? null : "disabled")" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EditableEndDate" /> @Html.DisplayNameFor(model => model.EditableEndDate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AssignedToId" class="control-label"></label>
                <br />
                <select id="ddlUsersList" name="ddlUsersList" class="@(ViewBag.CanAssign ? "enabled" : "disabled")">
                    <option value="" disabled selected>Select an option</option>
                    @foreach (var item in ViewBag.UsersList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>

                <span asp-validation-for="AssignedToId" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" disabled="@(Model.StartDate.Date <= DateTime.Now.Date ? "disabled" : null)" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TaskDetails" class="control-label"></label>
                <input asp-for="TaskDetails" class="form-control" />
                <span asp-validation-for="TaskDetails" class="text-danger"></span>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAttachments" /> @Html.DisplayNameFor(model => model.HasAttachments)
                </label>
            </div>
            <p></p>
            <div>
                <input asp-for="TaskAttachments" type="file" name="files" class="form-control" id="files" accept=".pdf,.doc,.docx,.jpg,.png" multiple onchange="displayFiles()" />
                @*<input type="file" name="files" id="files" accept=".pdf,.doc,.docx" multiple onchange="displayFiles()">*@
                <ul id="fileList"></ul>
                <input type="button" value="Clear" onclick="clearFiles()" class="form-control" />
                <p></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p></p>
<div>
    <a asp-action="Index">Back to List</a> | 

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
