@model IEnumerable<TaskManager.Models.DepartmentModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Index</h1><hr >

<p style="text-align:center">
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department1)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdDepartment  }) |
                @Html.ActionLink("TaskDetails", "TaskDetails", new { id=item.IdDepartment }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdDepartment })
            </td>
        </tr>
}
    </tbody>
</table>
