@model IEnumerable<TaskManager.Models.UserTypeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUserType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdUserType  }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdUserType }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdUserType })
            </td>
        </tr>
}
    </tbody>
</table>
